<div class="Meal">
    <div class="Meal-photo">
        <img src="{{photo_url}}" alt="Photo of {{description}}">
    </div>
    <div class="Meal-details">
        <div class="Meal-description">{{description}}</div>
        <div class="Meal-price">{{price}}</div>
        <div class="Meal-rating">{{rating}} {{reviews_count}} reviews</div>
    </div>
</div>
{{yield}}
